{% extends 'base/base.html' %}

{% block title %}Nova Senha | Sistema de Gerenciamento de Eventos{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Definir Nova Senha</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    {% if validlink %}
    <form class="space-y-6" method="POST">
      {% csrf_token %}
      
      <div>
        <label for="new_password1" class="block text-sm font-medium leading-6 text-gray-900">Nova senha</label>
        <div class="mt-2">
          <input id="new_password1" name="new_password1" type="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2">
        </div>
        {% if form.new_password1.errors %}
        <p class="text-red-500 text-xs mt-1">{{ form.new_password1.errors }}</p>
        {% endif %}
      </div>

      <div>
        <label for="new_password2" class="block text-sm font-medium leading-6 text-gray-900">Confirme a nova senha</label>
        <div class="mt-2">
          <input id="new_password2" name="new_password2" type="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-2">
        </div>
        {% if form.new_password2.errors %}
        <p class="text-red-500 text-xs mt-1">{{ form.new_password2.errors }}</p>
        {% endif %}
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Alterar minha senha</button>
      </div>
    </form>
    {% else %}
    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4" role="alert">
      <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado.</p>
      <p class="mt-4">Por favor, solicite uma <a href="{% url 'password_reset' %}" class="font-bold underline">nova redefinição de senha</a>.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
