{% autoescape off %}
Olá,

Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta no Sistema de Gerenciamento de Eventos.

Por favor, acesse a página a seguir e escolha uma nova senha:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Seu nome de usuário, caso tenha esquecido: {{ user.get_username }}

Obrigado por usar nosso sistema!

Equipe de Gerenciamento de Eventos
{% endautoescape %}
